/Lab4/Cau1/nbproject/private/
/Lab4/Cau1/build/
/Lab4/Cau1/dist/
/Lab4/Cau3/nbproject/private/
/Lab4/Cau3/build/
/Lab4/Cau2/nbproject/private/
/Lab4/Cau2/build/
/Lab4/Cau1_1/nbproject/private/
/Lab4/Cau1_1/build/
/Lab4/Bai4/nbproject/private/
/Lab4/Bai4/build/
/Lab4/Cau4/target/
/Lab4/Cau4/nbproject/private/
/Lab4/Cau4/build/
/Lab5/KhamBenh/nbproject/private/
/Lab5/KhamBenh/build/
